
스터디/kaggle_cardFraud/creditcard.csv
스터디/kaggle_zillow-prize-1/properties_2016.csv
스터디/kaggle_zillow-prize-1/properties_2017.csv
스터디/kaggle_zillow-prize-1/sample_submission.csv
스터디/kaggle_zillow-prize-1/train_2016_v2.csv
